/*
 * Objetos principais
 */

/* .botao { */
/*   background-color: #126; */
/*   font-size: 18px; */
/*   width: 200px; */
/* } */

/* .tabelaPreta{ */
/*     background-color:black; */
/* } */

/* label { */
/*   font-size: normal; */
/* } */

thead {
	text-align: center;
	font-weight: bold;
}

th {
	text-align: center;
	font-weight: bold;
}

td {
	text-align: center;
}

input {
    font-weight: normal;
}

.borda {
	border: 1px solid #000000;
}

.titulo {
	font-weight: bold;
}

.center {
	text-align: center;
}
