/* ******************************************************************************************************
GENERAL
 ******************************************************************************************************** */

* {
    outline: none;
}


.wrap{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}


.off-canvas-wrapper{
    background-color: #222;
}


.div-provisorio-conteudo{
    height: 679px;
}


/* ******************************************************************************************************
NAV - MOBILE
 ******************************************************************************************************** */

.title-bar {
    background-color: #222;
    height: 60px;
    padding-top: 17px;
}

#mobile-menu {
    background-color: #222;
    padding: 10px;
}

#mobile-menu li {
    list-style: none;
}

#mobile-menu a {
    color: rgba(255,255,255, 0.6);
    font-weight: bold;
    line-height: 2;
}

#mobile-menu a:hover {
    color: rgba(255,255,255, 0.8);
}

.js-off-canvas-exit {
    /*background: rgba(0, 0, 0, 0.5); escurece um pouco a tela que não seja o menu*/
    background: transparent;
}

.menu-mobile-opcao{
    color: white;
    font-weight: bold;
}

/* ******************************************************************************************************
NAV - DESKTOP
 ******************************************************************************************************** */
.nav-desktop{
    background-color: #222;
    height: 80px;
    padding: 0;
}


.nav-desktop .menu-desktop{
    line-height: 80px;
    background-color: transparent;
}

.menu > li > a{
    display: inline-block;
    line-height: 80px;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    width: 100%;
}

.menu > li > span{
    color: white;
    font-weight: bold;
    padding-right: 40px;
}

.menu > li > a:hover{
    background-color: rgba(255,255,255, 0.1);
}

.is-submenu-item {
    background-color: #222;
}


/* ******************************************************************************************************
HERO
 ******************************************************************************************************** */



/* ******************************************************************************************************
MAIN SECTION
 ******************************************************************************************************** */
.centralizado{
    text-align: center;
}


label {
    font-size: large;
}

.titulo {
    font-weight: bold;
}


.button {
    width: 200px;
    background-color: #222;
    font-size: 16px;
}

th {
    text-align: left;
    font-weight: normal;
}


/* ******************************************************************************************************
FOOTER
 ******************************************************************************************************** */

footer{
    background-color: #222;
    padding: 15px 15px;
    bottom: 0;
}



/* ******************************************************************************************************
MEDIA QUERY
 ********************************************************************************************************
 */
